<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK</title>
    <link rel="stylesheet" href="contact.component.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Application</a></li>
            <li><a href="#">View Report</a></li>
        </ul>
    </nav>
    <section id="home">

        <div class="main">
            <h1 class="headings">WELCOME TO <br> CONTOSO BANK</h1>
            <button class="btn">
                Apply Now
            </button>
        </div>

    </section>

</body>

</html>