html
    head
        title profile update
    body
        form(action=`/updateprofile/${id}` method="post" enctype="multipart/form-data")
            input(type="file" name="profilepic")
            br
            button Update
